*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins','sans-serif';
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #fff;
  color: #000;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/Sydney.jpg);
  background-size: cover;
  background-position:top;
  background-attachment:scroll;
}

.container
{
    padding: 10px 10%;
}


.logo{
    width: 120px;
    position: absolute;
    top: 0%;
    left: 0%;
}
.nav {
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
}
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 100px; 
  }
  /* Style the top navigation bar */
  nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin: 20px;
}
.header-text h1 span{
    color: #fff;
}

  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #000; /* Grey background color */
    color: #fff; /* Black text color */
  }
  * {box-sizing:border-box}


  /* --------------Slideshow container ----------------------------------*/
  .slideshow-container {
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*-----------about------*/
.about-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  margin-top: 20px;
  line-height: 1.6;
  text-align:center;
}

/*------------Services-----------*/
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:40px;
  margin-top: 50px;
}
.services-list div{
  background: #ff6600;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ff8800;
  transform: translateY(-10px);

}
/*---------------Contact------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

/* Copyright */

.copyright{
  width: 500%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 50px;
}
